{{- if not .Date.IsZero }}
<div class="meta__item-datetime meta__item">
	{{ partial "svg/time.svg" (dict "class" "meta__icon") -}}
	Publié le 
	<time class="meta__text" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
		 {{- .Date.Format (.Site.Params.dateformat | default "January 02, 2006") -}}
	</time>
	{{- if ne .Date .Lastmod }}
	<time class="meta__text" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">(
		{{- T "meta_lastmod" }}: {{ .Lastmod.Format (.Site.Params.dateformat | default "January 02, 2006") -}}
	)</time>
	{{- end -}}
</div>
{{- end }}