{{ define "main" }}
<!-- https://app.getform.io/forms/42343 -->
<!-- https://dashboard.hcaptcha.com -->

<header class="post__header">
    <h1 class="post__title">{{ .Title }}</h1>
    {{- with .Params.lead }}
    <p class="post__lead">{{ . }}</p>
    {{- end }}
    {{ with partial "post_meta.html" . -}}
    <div class="post__meta meta">{{ . }}</div>
    {{- end }}
</header>

{{ .Content }}

<style>
  * {
    box-sizing: border-box;
  }

  input[type=contact-text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: bold;
  }

  button[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  button[type=submit]:hover {
    background-color: #45a049;
  }

  .contact-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .contact-col-25 {
    float: left;
    width: 15%;
    margin-top: 6px;
  }

  .contact-col-75 {
    float: left;
    width: 85%;
    margin-top: 6px;
  }

  .h-captcha {
    width: 100%;
    padding: 20px 1px;
    text-align: end;
  }

  /* Clear floats after the columns */
  .contact-row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .contact-col-25, .contact-col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  </style>

<h3>Formulaire de Contact et Prise de Rendez-Vous</h3>

<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
<div class="contact-container">
<!-- ORIGINAL <form action="https://getform.io/f/67c47e6c-6f76-4679-95e4-2acf418dbdc9"-->
	<form action="https://getform.io/f/wbrkvnpa"
  method="POST"
  accept-charset="UTF-8">
  <div class="contact-row">
    <div class="contact-col-25">
      <label for="fname">Votre Nom</label>
    </div>
    <div class="contact-col-75">
      <input type="contact-text" id="fname" name="Nom" placeholder="Votre Nom">
    </div>
  </div>
  <div class="contact-row">
    <div class="contact-col-25">
      <label for="email">E-mail</label>
    </div>
    <div class="contact-col-75">
      <input type="contact-text" id="email" name="E-mail" placeholder="E-mail">
    </div>
  </div>
  <div class="contact-row">
    <div class="contact-col-25">
      <label for="subject">Votre Message</label>
    </div>
    <div class="contact-col-75">
      <textarea id="subject" name="Message" placeholder="Votre Message.." style="height:200px"></textarea>
    </div>
  </div>
  <br>
  <div class="h-captcha" data-sitekey="bcc21511-27b2-4c08-bba1-4e0284275d17"></div>
  <div class="contact-row">
    <button type="submit">Envoyer</button>
  </div>

  </form>
</div>

<h3>Inscription à la newsletter Ma Thèse Émoi</h3>

<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
A travers cette newsletter mensuelle, notre intention est le partage & le soutien.
Afin de vous soutenir au mieux durant votre thèse et vous aider à prendre soin de votre santé mentale, nous vous partagerons nos tips & conseils, nos actualités,
ainsi que nos prochains événements (permanences, conférences, Pause Doc)
<div class="contact-container">
<!-- ORIGINAL <form action="https://getform.io/f/67c47e6c-6f76-4679-95e4-2acf418dbdc9"-->
	 <form action="https://getform.io/f/wbrkvnpa"
	method="POST"
  accept-charset="UTF-8">
  <div class="contact-row">
    <div class="contact-col-25">
      <label for="fname">Votre Nom</label>
    </div>
    <div class="contact-col-75">
      <input type="contact-text" id="fname_2" name="Nom" placeholder="Votre Nom">
    </div>
	<input type="hidden" name="_gotcha" style="display:none !important">
  </div>
	<div class="contact-row">
    <div class="contact-col-25">
      <label for="fname">Votre Prénom</label>
    </div>
    <div class="contact-col-75">
      <input type="contact-text" id="pname" name="Prenom" placeholder="Votre Prénom">
    </div>
  </div>
  <div class="contact-row">
    <div class="contact-col-25">
      <label for="email">E-mail</label>
    </div>
    <div class="contact-col-75">
      <input type="contact-text" id="email_2" name="E-mail" placeholder="E-mail">
    </div>
  </div>
  <br>
<div >
	  Votre adresse de messagerie est uniquement utilisée pour vous envoyer notre newsletter.
	  Vous pourrez à tout moment utiliser le lien de désabonnement intégré dans chacun de mes mails.
  </div>
  <br>
  <div >
	<input type="checkbox" id="subscribe" name="subscribe-newsletter"  value="yes" required>
		  <label for="subscribe">Jaccepte de m'inscrire à la newsletter.</label>
  </div>

  <div class="h-captcha" data-sitekey="bcc21511-27b2-4c08-bba1-4e0284275d17"></div>
  <div class="contact-row">
    <button type="submit">Inscription</button>
  </div>

  </form>
</div>
{{ end }}