{{ define "main" }}

<header class="post__header">
    <h1 class="post__title">{{ .Title }}</h1>
    {{- with .Params.lead }}
    <p class="post__lead">{{ . }}</p>
    {{- end }}
    {{ with partial "post_meta.html" . -}}
    <div class="post__meta meta">{{ . }}</div>
    {{- end }}
</header>

{{ .Content }}

<style>
.contact-merci {
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

</style>

<h3>Formulaire de Contact</h3>

<div class="contact-merci">
  Merci, nous répondrons à ton message le plus rapidement possible.
  </div>
{{ end }}