{{ define "main" }}
<!-- https://github.com/gethugothemes/techfeed-hugo/blob/main/layouts/index.html -->
<!-- https://www.w3schools.com/css/css_grid.asp -->
<!-- https://gohugo.io/templates/lists/ -->

{{ .Content }}
<section class="author-block text-center">
	<div class="container">
	  <div class="grid-container">
		{{- range .Pages }}
		<div class="grid-item" >
		  
		   {{- if .Params.thumbnail }}
			<a href="{{ .RelPermalink }}" rel="bookmark">
				<img loading="lazy" src="{{ .Params.thumbnail | relURL }}" class="annuaire" alt="post image">
				{{- end }}
				<h2 class="annuaire" >
					{{ .Title }}
				</h2>
			</a> 
		</div>
		{{- end }}
	  </div>
	</div>
</section>


<!-- <article class="list__item post">
	{{- if .Params.thumbnail }}
	<figure class="list__thumbnail">
		<a href="{{ .Permalink }}">
			<img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}" />
		</a>
	</figure>
	{{- end }}
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="{{ .RelPermalink }}" rel="bookmark">
			{{ .Title }} AA
			</a>
		</h2>
		{{- with .Params.lead }}
		<p class="list__lead post__lead">{{ . }}</p>
		{{- end }}
		{{ with partial "post_meta.html" . -}}
		<div class="list__meta meta">{{ . }}</div>
		{{- end }}
	</header>
	{{- if eq .Params.summary "" }}
	{{- else }}
	<div class="content list__excerpt post__content clearfix">
		{{ .Summary }}
	</div>
	{{- end }}
	{{- if .Site.Params.readmore }}
	{{- if .Truncated }}
	<div class="list__footer clearfix">
		<a class="list__footer-readmore btn" href="{{ .RelPermalink }}">{{ T "read_more" }}</a>
	</div>
	{{- end }}
	{{- end }}
</article> -->
{{ end }}